[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=root
{% if gunicorn_env_file is defined %}EnvironmentFile=-{{ gunicorn_env_file }}
{% endif %}
RuntimeDirectory=gunicorn
WorkingDirectory={{ gunicorn_working_dir }}
ExecStart={{ gunicorn_venv }}/bin/gunicorn --pid /run/gunicorn/pid   \
--bind {{ gunicorn_socket_uri }} {{ gunicorn_wsgi_app }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
